extends ../layout

block content
	section.wrapper
		h1= title
			span
				a(href='/lessons/new').button.small.small-margin-left Neue Lektion
		
		if lessons.length == 0
			div Keine Lektionen vorhanden
		
		each lesson in lessons
			h2= lesson.name
				span
					a(href='/lessons/edit/' + lesson.id).small-margin-left ändern
					a(href='/lessons/delete/' + lesson.id).small-margin-left löschen
			
			table.col-2.with-border
				each vocabulary in lesson.vocabularies
					tr
						td= vocabulary.foreign
							if vocabulary.pronunciation != ""
								span.small-margin-left #{vocabulary.pronunciation}

						td= vocabulary.native
						td
							div.lesson-actions-container
								input(type="hidden", class="vocabulary_id", value=vocabulary.id)
								div.actions
									if vocabulary.foreignNativeStatus == 0
										button.action.set-status.set-0.foreign-native.active
									else 
										button.action.set-status.set-0.foreign-native
									
									if vocabulary.foreignNativeStatus == 1
										button.action.set-status.set-1.foreign-native.active
									else 
										button.action.set-status.set-1.foreign-native
									
									if vocabulary.foreignNativeMark == 1
										button.action.toggle-mark.foreign-native.active
									else 
										button.action.toggle-mark.foreign-native
								
								div.actions
									if vocabulary.nativeForeignStatus == 0
										button.action.set-status.set-0.native-foreign.active
									else 
										button.action.set-status.set-0.native-foreign
									
									if vocabulary.nativeForeignStatus == 1
										button.action.set-status.set-1.native-foreign.active
									else 
										button.action.set-status.set-1.native-foreign
									
									if vocabulary.nativeForeignMark == 1
										button.action.toggle-mark.native-foreign.active
									else 
										button.action.toggle-mark.native-foreign
			
			
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="../javascripts/lessons.js")